<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Gallary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex">
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen1.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen2.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen3.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen4.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen5.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen6.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen7.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen8.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen9.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen10.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen11.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen12.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen13.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen14.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallery/Gen15.jpg">
</section>
</div>

</ion-content>